.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #4caf50;
  color: white;
}

table tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}
.modal-content h2 {
  margin-top: 0;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.8);
}

.balance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.totals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 5px;
}